<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">


	<context:component-scan base-package="com.newer"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<mvc:default-servlet-handler/>
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
 	<mvc:resources location="/js/" mapping="/js/**" />
	
	
	
	<mvc:view-controller view-name="/admin/welcome" path="/admin_login_success.do"/>

	<!-- 经理成功登录后跳转首页welcome.jsp -->


	<mvc:view-controller view-name="/manager/welcome" path="/manager_login_success.do"/>

	<!-- 普通员工成功登录后跳转首页welcome.jsp -->


	<mvc:view-controller view-name="/person/welcome" path="/employee_login_success.do"/>

	<!-- 出错页面 -->


	<mvc:view-controller view-name="/error" path="/login_error.do"/>
	

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
